.title {
    font-family: 'Do Hyeon', sans-serif;
}

img {
    display: block;
    width: 300px;
    margin: auto;
    padding-bottom: 30px;
}
.product-name {
    display: inline-block;
}
.price {
    display: inline-block;
    padding-left: 30px;
}

.order {
    margin-bottom: 20px;
}

.details {
    display: block;
    width: 50%;
    margin: auto;
}

button {
  position: absolute;
  left: 50%;
}